.Footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: var(--primary-colour-black);
  max-height: 70px;
  position: absolute;
  
}

.Footer-link {
  list-style: none;
  text-decoration: none;
  color: var(--primary-colour-white);
}

.Footer-link:hover {
  color: var(--secondary-colour-orange);
}
