.ExploreProductContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	height: 420px;
	margin: 25px;
}

.ExploreProductContainer-name {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 10px;
}

.ExploreProductContainer-image-wrapper {
	display: flex;
	width: 250px;
	height: 250px;
	position: relative;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.ExploreProductContainer-image-section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 250px;
	border-radius: 15px;
	background-color: #E8E8E8;
}

.ExploreProductContainer-image-wrapper:hover .ExploreProductContainer-image-section {
	filter: brightness(60%);
	transition: 0.3s;
}

.ExploreProductContainer-image {
	margin: 0 auto;
	max-width: 235px;
	max-height: 235px;
}

.ExploreProductContainer-image-hovertext {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 200px;
}

.ExploreProductContainer-image-wrapper:hover .ExploreProductContainer-image-hovertext {
	display: block !important;
}

.ExploreProductContainer-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: auto;
}

.ExploreProductContainer-rating {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}