.CartItem {
  display: flex;
}

.OrderPlaced {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.deliveryInfo {
  display: flex;
  flex-direction: column;
}

.PreviousItem-card {
  display: flex;
  justify-content: space-between;
}

.PreviousItem-image {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.PreviousItem-information {
  text-align: left;
  display: flex;
  max-width: 250px;
  flex-direction: column;
}

.PreviousItem-quantity {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
}

.PreviousItem-quantity-display {
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary-colour-dark-grey);
  border-radius: 16px;
  width: 64px;
  height: 25px;
}

.PreviousItem-price {
  font-weight: 700;
  padding-top: 95px;
}
