.ReviewContainer {
  display: flex;
}

.ReviewContainer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  min-width: 800px;
  min-height: 300px;
  margin: 32px 0;
  padding: 16px 16px;
}

.ReviewContainer-information {
  text-align: left;
  max-width: 250px;
  margin-left: 30px;
}

.ReviewContainer-date-star {
  display: flex;
  flex-direction: row;
}

.ReviewContainer-content {
  display: flex;
  flex-direction: column;
  word-break: break-all;
  text-align: left;
  width: 550px;
  max-width: 1600px;
  margin-left: 20px;
}

.ReviewContainer-image {
  min-width: 250px;
}

.Attached-image {
  margin: 0 auto;
  width: 175px;
  max-width: 500px;
}

.ReviewContainer-likes {
  display: flex;
  min-width: 100px;
  flex-direction: row;
  align-items: center;
}

.Like-button-unliked:hover {
  color: #3f51b5;
}

.Like-button-liked:hover {
  color: grey;
}

.ReviewContainer-date {
  display: flex;
  flex-direction: column;
}

img[src=''] {
    display: none;
}