.ReviewContainer {
  display: flex;
}

.ReviewContainer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ReviewContainer-image {
  min-width: 250px;
}

.ReviewContainer-image:empty {
    display: none !important;
}

.ReviewContainer-information {
  text-align: left;
  max-width: 250px;
}

.ReviewContainer-likes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  
.ReviewContainer-likes-display {
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary-colour-dark-grey);
  border-radius: 16px;
  width: 64px;
}

.ReviewContainer-date {
  font-weight: 700;
}

img[src=''] {
    display: none;
}