.SmallItemContainer {
  height: 230px;
  width: 150px;
  margin: 0 8px;
}

.SmallItemContainer-image-container {
  /* Centers the image vertically and horizontally in the div/container */
  display: block;
  margin: auto;
}

.SmallItemContainer-image {
  width: 120px;
  max-height: 130px;
}
