.SmallItemContainer {
  height: 230px;
  width: 150px;
  margin: 0 8px;
  text-align: center;
}

.SmallItemContainer-image-container {
  display: block;
  margin: auto;
}

.SmallItemContainer-image {
  width: 120px;
  max-height: 130px;
}
