.Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 64px 0;
}

.Cart-cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 850px;
  margin-top: 32px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
}

.Cart-cart-items-title {
  width: 100%;
  padding: 16px 16px;
  text-align: left;
  font-size: 16px;
  font-weight: var(--bold-font-weight);
}

.Cart-cart-items-total-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 8px 8px;
  min-width: 800px;
  border-top-style: solid;
  border-width: 1px;
  font-weight: 700;
}

.CartItem {
  display: flex;
  transition: transform 1s;
}

.CartItem-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CartItem:hover {
  transform: translateX(20px);
}

.CartItem-image {
  width: 250px;
}

.CartItem-information {
  text-align: left;
  width: 250px;
}

.CartItem-quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.CartItem-quantity-display {
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary-colour-dark-grey);
  border-radius: 16px;
  width: 64px;
}

.CartItem-price {
  font-weight: 700;
  width: 50px;
}

.CartItem-remove {
  position: absolute;
  padding-top: 100px;
  padding-left: 20px;
}

.CartItem-remove-button {
  border: none;
  background-color: transparent;
}
