.CustomerDetailsSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  min-height: 220px;
  width: 550px;
}

.CustomerDetailsSection-name {
  padding: 8px 0;
}

.CustomerDetailsSection-email {
  padding: 8px 0;
}

.CustomerDetailsSection-address {
  padding: 32px 0;
}
