.RegisterPage {
  display: flex;
  justify-content: space-evenly;
  padding-top: 150px;
}

.RegisterPage-form-group {
  display: flex;
  flex-direction: column;
}

.RegisterPage-image {
  height: 400px;
  border-radius: 16px;
}
