#ItemPage {
  margin: 20px;
}

#ItemPage-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ItemPage-box-img {
  overflow: auto;
}

.ItemPage-box-info {
  width: 70%;
  margin: auto;
  align-items: center;
}

.ItemPage-box-add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ItemPage-flex-vert {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  text-align: center;
}
