#ItemPage {
  margin: 0px;
}

#ItemPage-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#product-category {
  width: 100%;
  border-top-style: solid;
  border-width: 1px;
}

#product-wrapper {
  width: 70%;
  margin: 64px auto 0;
  border-bottom-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

#product-image {
  min-width: 200px;
  max-width: 500px;
  max-height: 400px;
  margin-right: 30px;
  margin-bottom: 30px;
}

#product-info {
  min-width: 350px;
  max-width: 600px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#product-ratings {
  display: flex;
  flex-direction: row;
}

#product-info-buttons {
  width: 100%;
  margin-top: 30px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#add-cart-button {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 15px 90px;
  font-size: 13pt;
  margin-bottom: 5px;
  margin-left: 15px;
}

#product-description {
  width: 70%;
  margin: 64px auto 0;
  border-bottom-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 70px;
}

#modal-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#review-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#review-images-section {
  display: flex;
  width: 400px;
  height: 455px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 100px;
}

#review-inputs-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 40px;
}

#file-upload {
  display: none !important
}

#file-upload-section {
  display: flex;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: #E8E8E8;
}

#post-review-button {
  background-color: #FF7A00;
  color: white;
  border-radius: 16px;
}

#review-photo-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.review-section {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
}

.ItemPage-box-img {
  overflow: auto;
}

.ItemPage-box-info {
  width: 70%;
  margin: auto;
  align-items: center;
}

.ItemPage-small {
  margin-right: 30px;
}

.ItemPage-box-add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.ItemPage-flex-vert {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.Itempage-review-text {
  color: #FF7A00;
  font-size: 12pt;
}

.review-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
