.login-page {
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
}

.login-section {
    width: 500px;
    padding: 8px 8px;
}

.register-section {
    width: 500px;
    padding: 8px 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    padding: 8px 0;
}

.form-control {
    height: 24px;
    border-radius: 8px;
    width: 350px;
}

.form-control {
    align-items: center;
}

.link {
    text-decoration: none;
}