.navigation-bar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;
}

.navigation-bar-links-left {
    padding-left: 0;
    width: 400px;
    text-align: left;
}

.navigation-bar-links-right {
    padding-left: 0;
    width: 400px;
    text-align: right;
}

.navigation-bar-link {
    list-style: none;
    text-decoration: none;
    color: var(--primary-colour-black);
    padding: 0px 10px;
    display: inline-block;
}

.navigation-bar-link:hover {
    color: var(--secondary-colour-orange);
}

.navigation-bar-brand-name {
    font-family: var(--brand-font);
    font-size: var(--title-font-size);
    font-weight: var(--bold-font-weight);
    text-align: center;
}